aside,
div,
footer,
header,
main,
nav,
section {
    display: block
}



@media only screen and (max-width: 600px) {
    body {
        background-color: #cfd6da;
    }

    #wrapper {
        width: 100%;
    }

    tr :nth-child(4),
    tr :nth-child(6) {
        display: none;
    }
}

@viewport {
    width: 480px;
    zoom: 1;
}