@import "https://fonts.googleapis.com/css?family=Nunito";

@import "https://fonts.googleapis.com/css?family=Poiret+One";

h1 {
text-align:center;
color:#fff;
}

body,html {
height:100%;
background-repeat:no-repeat;
background:#000;
position:relative;
}

#login-box {
position:absolute;
top:0;
left:50%;
transform:translateX(-50%);
width:350px;
margin:0 auto;
border:1px solid #000;
background:rgba(48,46,45,1);
min-height:250px;
padding:20px;
z-index:9999;
}

#login-box .logo .logo-caption {
font-family:'Poiret One',cursive;
color:#fff;
text-align:center;
margin-bottom:0;
}

#login-box .logo .tweak {
color:#ff5252;
}

#login-box .controls input {
border-radius:0;
background:#626060;
border:0;
color:#fff;
font-family:'Nunito',sans-serif;
}

#login-box .controls input:focus {
box-shadow:none;
}

#login-box .controls input:first-child {
border-top-left-radius:2px;
border-top-right-radius:2px;
}

#login-box .controls input:last-child {
border-bottom-left-radius:2px;
border-bottom-right-radius:2px;
}

#login-box button.btn-custom {
border-radius:2px;
margin-top:8px;
background:#ff5252;
border-color:rgba(48,46,45,1);
color:#fff;
font-family:'Nunito',sans-serif;
}

#login-box button.btn-custom:hover {
-webkit-transition:all 500ms ease;
-moz-transition:all 500ms ease;
-ms-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease;
background:rgba(48,46,45,1);
border-color:#ff5252;
}

#particles-js {
width:100%;
height:100%;
background-size:cover;
background-position:50% 50%;
position:fixed;
top:0;
z-index:1;
}

#audioControl {
position:fixed;
margin-top:10px;
}

.center-block {
margin-left:13px;
height:325px;
}

.mybutton {
height:50px;
display:block;
position:relative;
}

.mybuttontext {
position:absolute;
height:100%;
width:100%;
z-index:1;
text-align:center;
line-height:50px;
font-family:'Montserrat',sans-serif;
font-size:12px;
text-transform:uppercase;
}

.twist {
display:block;
height:100%;
width:25%;
position:relative;
float:left;
margin-left:-4px;
}

.twist:before {
content:"";
width:100%;
height:100%;
background:#fed5a9;
bottom:100%;
position:absolute;
transform-origin:center bottom 0;
transform:matrix3d(1,0,0,0,0,0,-1,-0.003,0,1,0,0,0,0,0,1);
-webkit-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-moz-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-o-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
}

.twist:after {
content:"";
position:absolute;
width:100%;
top:100%;
height:100%;
background:#9f7f5e;
transform-origin:center top 0;
transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,-0.003,0,-50,0,1);
-webkit-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-moz-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-o-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
}

.mybutton:hover .twist:before {
background:#fff;
transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0.003,0,50,0,1);
}

.mybutton:hover .twist:after {
background:#dedae1;
transform:matrix3d(1,0,0,0,0,0,-1,0.003,0,1,0,0,0,0,0,1);
}

.mybutton .twist:nth-of-type(1) {
margin-left:0;
}

.mybutton .twist:nth-of-type(1):before,.mybutton .twist:nth-of-type(1):after {
transition-delay:0s;
}

.mybutton .mybuttontext:nth-of-type(1) {
color:#3d3b40;
bottom:100%;
transform-origin:center bottom 0;
transform:matrix3d(1,0,0,0,0,0,-1,-0.003,0,1,0,0,0,0,0,1);
-webkit-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-moz-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-o-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
}

.mybutton:hover .mybuttontext:nth-of-type(1) {
transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0.003,0,50,0,1);
}

.mybutton .mybuttontext:nth-of-type(2) {
color:#fff;
top:100%;
transform-origin:center top 0;
transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,-0.003,0,-50,0,1);
-webkit-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-moz-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-o-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
}

.mybutton:hover .mybuttontext:nth-of-type(2) {
transform:matrix3d(1,0,0,0,0,0,-1,0.003,0,1,0,0,0,0,0,1);
}

.square {
border:1px solid #9f7f5e;
height:26px;
width:26px;
display:block;
margin:40px auto;
transform:rotate(45deg);
overflow:hidden;
-webkit-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-moz-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-o-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
}

.square .burgerwrap {
height:18px;
width:21px;
transform:rotate(-45deg);
padding-left:5px;
padding-top:8px;
-webkit-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-moz-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-o-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
}

.square:hover {
transform:rotate(135deg);
border:1px solid #fff;
}

.square:hover .burgerwrap {
transform:rotate(-135deg);
}

.square span {
height:2px;
width:14px;
background:#9f7f5e;
display:block;
margin-bottom:2px;
-webkit-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-moz-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-o-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
}

.square span:after {
content:"";
height:2px;
width:14px;
position:absolute;
background:#fff;
left:-19px;
-webkit-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-moz-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
-o-transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
transition:all 500ms cubic-bezier(0.970,0.000,0.395,0.995);
}

.square:hover span {
margin-left:26px;
}

.square:hover span:after {
left:5px;
}

input::-webkit-input-placeholder {
color:#fff!important;
}

.form-control {
margin-bottom:5px;
}

.form-group {
color:#fff;
}

.mybutton .twist:nth-of-type(2):before,.mybutton .twist:nth-of-type(2):after,.square span:nth-of-type(1),.square span:nth-of-type(1):after {
transition-delay:.1s;
}

.mybutton .twist:nth-of-type(3):before,.mybutton .twist:nth-of-type(3):after,.square span:nth-of-type(2),.square span:nth-of-type(2):after {
transition-delay:.2s;
}

.mybutton .twist:nth-of-type(4):before,.mybutton .twist:nth-of-type(4):after,.square span:nth-of-type(3),.square span:nth-of-type(3):after {
transition-delay:.3s;
}