#layout1 .box1 {
    bottom: 89.26%;
    left: 0;
    position: absolute;
    right: 82.84%;
    top: 7.05%
}

#layout1 .box10,#layout1 .box11 {
    bottom: 17.15%;
    left: 65.45%;
    position: absolute;
    right: 21.97%;
    top: 66.03%
}

#layout1 .box11 {
    bottom: 6.73%;
    right: 9.38%;
    top: 83.97%
}

#layout1 .box12,#layout1 .box13 {
    bottom: 91.19%;
    left: 93.59%;
    position: absolute;
    right: 0;
    top: 0
}

#layout1 .box13 {
    bottom: 80.61%;
    top: 10.58%
}

#layout1 .box14,#layout1 .box15,#layout1 .box2 {
    bottom: 70.03%;
    left: 93.59%;
    position: absolute;
    right: 0;
    top: 21.15%
}

#layout1 .box15,#layout1 .box2 {
    bottom: 36.54%;
    top: 31.73%
}

#layout1 .box2 {
    bottom: 80.61%;
    left: 0;
    right: 68.88%;
    top: 12.02%
}

#layout1 .box3,#layout1 .box4 {
    bottom: 14.1%;
    left: 0;
    position: absolute;
    right: 69.34%;
    top: 21.15%
}

#layout1 .box4 {
    bottom: 7.85%;
    right: 79.86%;
    top: 87.66%
}

#layout1 .box5,#layout1 .box6,#layout1 .box7 {
    bottom: 2.56%;
    left: 0;
    position: absolute;
    right: 94.28%;
    top: 93.27%
}

#layout1 .box6,#layout1 .box7 {
    left: 7.32%;
    right: 86.96%
}

#layout1 .box7 {
    bottom: 36.54%;
    left: 34.1%;
    right: 9.61%;
    top: 7.05%
}

#layout1 .box8,#layout1 .box9 {
    bottom: 17.15%;
    left: 87.41%;
    position: absolute;
    right: 0;
    top: 66.03%
}

#layout1 .box9 {
    bottom: 0;
    left: 34.1%;
    right: 37.76%
}

#layout1 .boxes {
    float: left;
    height: 500px;
    left: 0;
    position: relative;
    top: 91px;
    width: 50%
}

#layout1 .circle {
    background: red;
    border-radius: 50%;
    height: 14px;
    left: 30px;
    position: absolute;
    top: -18px;
    width: 14px
}

#layout1 .text {
    float: left;
    height: 120px;
    width: 50%
}

#layout1 main {
    height: 860px;
    margin: 0 auto;
    width: 881px
}

#layout2 .box {
    background-color: #c4c4c4;
    height: 299px;
    margin: 70px 23px;
    width: 457px
}

#layout2 .circle {
    background: red;
    border-radius: 50%;
    height: 14px;
    left: 125px;
    position: absolute;
    top: -18px;
    width: 14px
}

#layout2 .left_boxes {
    float: left;
    margin-top: 49px;
    width: calc((100% - 169px)/2)
}

#layout2 .left_boxes .box {
    float: right
}

#layout2 .menu {
    height: 100%;
    position: relative
}

#layout2 .minibox1 {
    background-color: #000;
    top: 119px
}

#layout2 .minibox1,#layout2 .minibox2,#layout2 .minibox3 {
    height: 80px;
    position: absolute;
    width: 80px
}

#layout2 .minibox2 {
    right: 0;
    background-color: #fff;
    top: 247px
}

#layout2 .minibox3 {
    background-color: #000;
    top: 616px
}

#layout2 .my_name {
    bottom: 41px;
    font: 400 96px Amiko;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 81px;
    word-break: break-all
}

#layout2 .my_name a,.text h1,nav a {
    color: #000
}

#layout2 .right_boxes {
    float: left;
    margin-top: 217px;
    width: calc((100% - 169px)/2)
}

#layout2 .right_boxes .box {
    float: left
}

#layout2 .right_menu {
    background-color: #ebef18;
    height: 100%;
    position: absolute;
    right: 0;
    width: 169px
}

#layout2 footer {
    bottom: 0;
    position: fixed
}

#layout3 #wrapper {
    background: #e5e5e5
}

#layout3 .box h1 {
    color: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)
}

#layout3 .circle {
    background: red;
    border-radius: 50%;
    height: 14px;
    left: 280px;
    position: absolute;
    top: 110px;
    width: 14px
}

#layout3 .create_box {
    background: #000;
    float: right;
    height: 80px;
    margin: 24px;
    width: 80px
}

#selected {
    color: #801326
}

#wrapper {
    height: 100%;
    position: relative
}

* {
    margin: 0;
    padding: 0
}

.boxes div {
    background-color: #ebef18;
    position: absolute
}

.clear {
    clear: both
}

#wrapper,.text {
    margin: 0 auto
}

.text h1 {
    font: 700 72px Amiko;
    padding-top: 40%
}

.text h1,.text h3 {
    padding-left: 20%
}

.yellow_area {
    background: #ebef18;
    height: 463px
}

a {
    text-decoration: none
}

a:hover {
    color: #ff0!important;
    transition: color .3s ease
}

body {
    font-family: Arial
}

footer,header {
    background-color: #000;
    height: 41px;
    width: 100%
}

header {
    background-color: #f2e9e9;
    height: 123px;
    padding-top: .1px
}

aside,div,footer,header,main,nav,section {
    display: block
}

nav {
    display: flex;
    height: 33px;
    justify-content: space-around;
    margin: 50px auto;
    position: relative;
    width: 320px
}

nav a {
    font: 400 24px Amiko
}

@media screen and (max-width:800px) {
    #layout3 .box {
        background: #000;
        margin: 48px;
        position: relative
    }

    #layout3 .circle {
        left: 271px;
        top: 19px
    }

    #layout3 main {
        background: #fff;
        display: flex;
        flex-wrap: wrap
    }

    #layout3 nav {
        background: #e5e5e5;
        display: block;
        height: 100%;
        margin: 0 auto!important;
        padding: 36px 0
    }

    #layout3 nav a {
        padding-right: 18px
    }
}

@media screen and (min-width:800px) {
    #layout3 .box {
        background: #000;
        margin: 66px;
        position: relative
    }

    #layout3 aside {
        background: rgba(24,239,33,.3);
        height: 100%;
        position: absolute;
        right: 0;
        width: 104px
    }

    #layout3 main {
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        float: left;
        height: 100%;
        margin: -5px 0 0;
        width: calc(100% - 104px - 320px)
    }

    #layout3 nav {
        background: #e5e5e5;
        float: left;
        height: 100%;
        margin: 0 auto;
        padding-top: 125px
    }
}

@viewport {
    width:480px;
    zoom:1;
    }