    body {
    background:#F2F2F2;
    margin: 0px !important;
    }
    
    #wrapper {
    margin:76px 125px 0;
    }
    
    #logo {
    background-image:url(../images/logo.png);
    background-size:contain;
    background-repeat:no-repeat;
    display:block;
    width:50px;
    height:50px;
    font-family:Fira Sans;
    text-transform:uppercase;
    }
    
    header,main,footer,nav,aside,section,div {
    display:block;
    }
    
    main section img {
    height:450px;
    width:350px;
    margin-right:30px;
    }
    
    main section h2 {
    letter-spacing:-1px;
    color:#222;
    font:600 40px/50px "Fira Sans";
    }
    
    main p {
    color:#222;
    opacity:.7;
    font:400 18px/28px "Fira Sans";
    }
    
    header a span {
    padding-left:70px;
    color:#222;
    font-size:40px;
    font-weight:700;
    }
    
    nav {
    margin:43px 0 26px;
    }
    
    nav section a {
    padding-right:26px;
    letter-spacing:4px;
    text-transform:uppercase;
    color:#222;
    opacity:.3;
    font:700 14px/24px "Fira Sans";
    }

    nav a:hover {
        color: #1434E1;
    }
    
    #list img {
    vertical-align:middle;
    background:#E5E5E5;
    border-radius:34px;
    height:54px;
    width:54px;
    }
    
    #list ul {
    list-style:none;
    letter-spacing:4px;
    text-transform:uppercase;
    color:#000;
    font:700 14px/24px "Fira Sans";
    padding-inline-start:0px;
    }
    
    #list li {
    margin-bottom:30px;
    }
    
    #list span {
    margin-left:29px;
    }
    
    #selected_nav {
    color:#1434E1;
    opacity:1;
    }
    
    main iframe {
    margin-top:40px;
    }
    
    a {
    text-decoration:none;
    }
    
    footer {
    margin-top:50px;
    background:#515151;
    padding-bottom: 1px;
    }
    
    #footer_links {
    margin:76px 125px 0;
    padding-top:59px;
    color:#FFF;
    padding-bottom:41px;
    font:400 18px/28px "Fira Sans";
    text-transform:capitalize;
    }
    
    footer hr {
    border-bottom:1px solid #FFF;
    opacity:.2;
    }
    
    #footer_links button {
    height:40px;
    width:206px;
    text-align:center;
    letter-spacing:4px;
    text-transform:uppercase;
    font:700 14px/24px "Fira Sans";
    }
    
    #footer_links a {
    padding-right:60px;
    color:#FFF;
    }
    
    #footer_social {
    margin:42px 125px 0;
    padding-bottom:43px;
    }
    
    #footer_social a {
    padding-right:18px;
    opacity:.2;
    }
    
    footer button {
    background:#C6B393;
    }
    
    iframe{
        width:560px;
        height:315px;
    }